<div class="nav__contenedor">
   <a href="/">
      <h2 class="nav__logo">ITGAM</h2>
   </a>

   <ul class="nav__ul">
      <li class="nav__li">
         <a href="/" class="nav__link">Inicio</a>
      </li>
      <li class="nav__li">
         <a href="/about" class="nav__link">Sobre nosotros</a>
      </li>
       <li class="nav__li">
         <a href="/cursos" class="nav__link">Cursos</a>
      </li>
      <li class="nav__li">
         <a href="cms/new" class="nav__link">Agregar Cursos</a>
      </li>
      <li class="nav__li">
         <a href="Login/" class="nav__link">Entrar</a>
      </li>
   </ul>
   <figure class="nav__toggle" id="toggle">
      <i class="material-icons nav__icon">menu</i>
   </figure>
</div>
