<div class="nav__contenedor">
   <a href="/">
      <h2 class="nav__logo">ITGAM</h2>
   </a>

   <ul class="nav__ul">
      <li class="nav__li">
         <a href="/" class="nav__link">Inicio</a>
      </li>
      <li class="nav__li">
         <a href="/about" class="nav__link">Acerca de</a>
      </li>
   </ul>
   <figure class="nav__toggle" id="toggle">
      <img src="/images/menu.svg" alt="" class="img__toogle">
   </figure>
</div>
