<div class='padding-top'>
<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
    <span class="sr-only">50% Complete</span>
  </div>
</div>
<div class='row'>
  <div class='col-lg-3 col-md-6'>
    <div class='panel' style='background: #014a82;'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col-xs-3'>
            <i class='fa fa-comments fa-5x'></i>
            <span class="glyphicon glyphicon-align-justify nav__link" aria-hidden="true"></span>
          </div>
          <div class='col-xs-9 text-right'>
            <div class='huge nav__link'>26</div>
            <div class='nav__link'>Registros</div>
          </div>
        </div>
      </div>
      <a href='#'>
        <div class='panel-footer'>
          <span class='pull-left'>Ver Detalles</span>
          <span class='pull-right'><i
              class='fa fa-arrow-circle-right'
            ></i></span>
          <div class='clearfix'></div>
        </div>
      </a>
    </div>
  </div>
  <div class='col-lg-3 col-md-6'>
    <div class='panel' style='background: #014a82;'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col-xs-3'>
            <i class='fa fa-tasks fa-5x'></i>
            <span class="glyphicon glyphicon-user nav__link" aria-hidden="true"></span>
          </div>
          <div class='col-xs-9 text-right'>
             <div class='huge nav__link'>8</div>
            <div class='nav__link'>Profesores</div>
          </div>
        </div>
      </div>
      <a href='#'>
        <div class='panel-footer'>
          <span class='pull-left'>Ver Detalles</span>
          <span class='pull-right'><i
              class='fa fa-arrow-circle-right'
            ></i></span>

          <div class='clearfix'></div>
        </div>
      </a>
    </div>
  </div>
  <div class='col-lg-3 col-md-6'>
    <div class='panel'style='background: #014a82;'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col-xs-3'>
            <i class='fa fa-shopping-cart fa-5x'></i>
            <span class="glyphicon glyphicon-book nav__link" aria-hidden="true"></span>
          </div>
          <div class='col-xs-9 text-right'>
             <div class='huge nav__link'>40</div>
            <div class='nav__link'>Estudiantes!</div>
          </div>
        </div>
      </div>
      <a href='#'>
        <div class='panel-footer'>
          <span class='pull-left'>Ver Detalles</span>
          <span class='pull-right'><i
              class='fa fa-arrow-circle-right'
            ></i></span>
          <div class='clearfix'></div>
        </div>
      </a>
    </div>
  </div>
  <div class='col-lg-3 col-md-6'>
    <div class='panel'style='background: #014a82;'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col-xs-3'>
            <i class='fa fa-support fa-5x'></i>
            <span class="glyphicon glyphicon-th-list nav__link" aria-hidden="true"></span>
          </div>
          <div class='col-xs-9 text-right'>
             <div class='huge nav__link'>13</div>
            <div class='nav__link'>Categorias</div>
          </div>
        </div>
      </div>
      <a href='#'>
        <div class='panel-footer'>
          <span class='pull-left'>Ver Detalles</span>
          <span class='pull-right'><i
              class='fa fa-arrow-circle-right'
            ></i></span>
          <div class='clearfix'></div>
        </div>
      </a>
    </div>
  </div>
</div>


<div class="panel panel-default" style="height: 250; width: 400px;">
  <div class="panel-heading">Graficas</div>
  <div class="panel-body">
    <img src="./images/grafi.JPG" alt="..."  class="img-thumbnail">
  </div>
</div>

<div style='float: right;'>
<div class="fiedls--action">
      <button type="submit" class="bton__search btn-lg" >Siguiente</button>
   </div>
</div>

