<div class="center">
    <h1>Iniciar sesión</h1>
    <img src="" alt="logo" class="logo_v">
    <form action="" method="post">
        <div class="txtField">
            <input type="text" required maxlength="6" minlength="6" name="username" id="user">
            <span></span>
            <label for="">Nombre de usuario</label>
        </div>
        <div class="txtField">
            <input type="password" required maxlength="6" minlength="6" name="password" id="pass">
            <span></span>
            <label for="">Contraseña</label>
        </div>
        <div class="submitt">
            <a href="./index.php" class="ingresar">Ingresar</a>
        </div>
        <br>
    </form>
</div>