<main class="bsod container">
  <h1 class="neg title"><span class="bg">Error - 404</span></h1>
  <p>orig: {{orig}}</p>
  <p>method: {{met}}</p>
  <p>Se ha producido un error, para continuar: </p>
  <p>* Volver a nuestra página de inicio.<br />
    * Envíenos un correo electrónico sobre este error e inténtelo más tarde.</p>
  <nav class="nav">
    <a href="/" class="link">regresar :(</a>
  </nav>
  <br>
</main>