
<section class="container">
  <div class="about separador">
    <h2 class="heading">¿Quienes somos?</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quae dolore quos nihil nemo consequatur praesentium quidem alias modi eaque? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum dignissimos ut est neque velit distinctio, ab tenetur assumenda officia, consectetur modi voluptates magni reiciendis aliquid nam deserunt suscipit, ducimus adipisci.</p>
  </div>
  
</section>