<section class="container separador">
   <article class="cursos__info">
      <h2 class="heading">OFERTA educativa</h2>
      <p class="paragraph">La oferta de educación continua del TECNM es amplia y muy variada, en este catálogo puedes encontrar una selección del tipo de actividades que ofrece la universidad, si requieres información adicional o tienes interés en un área temática específica puedes contactar a las instancias correspondientes a través del Directorio Ejecutivo.</p>
      <div class="field">
         <input type="text" class="fiedl__search" placeholder="Busca un curso, idioma, marco o profesor...">
         <button class="bton__search"> <i class="material-icons nav__icon">search</i>Buscar</button>
       </div>
   </article>

   <div class="grid__cursos">

      <div class="item__curso">
         <figure class="curso__image">
            <img src="https://crehana-public-catalog.imgix.net/images/courses/promo-images/35a28483/42202631.jpg?auto=format&q=55&w=322&h=219&fit=crop" alt="" class="curso__img">
         </figure>
         <h3 class="title">Data Driven mindset: Toma decisiones con data</h3>
         <p class="paragraph">Por el pepe</p>
         <p class="price">MXM$230 <span class="price--span">MXM$450</span></p>
         <a href="#" class="botn">Obtenga acceso completo</a>
      </div>

      <div class="item__curso">
         <figure class="curso__image">
            <img src="https://crehana-public-catalog.imgix.net/images/courses/promo-images/0df7f3d8/d8ad386b.jpeg?auto=format&q=55&w=322&h=219&fit=crop" alt="" class="curso__img">
         </figure>
         <h3 class="title">Data Driven mindset: Toma decisiones con data</h3>
         <p class="paragraph">Por el pepe</p>
         <p class="price">MXM$230 <span class="price--span">MXM$450</span></p>
         <a href="#" class="botn">Obtenga acceso completo</a>
      </div>

      <div class="item__curso">
         <figure class="curso__image">
            <img src="https://crehana-public-catalog.imgix.net/images/courses/promo-images/ed4aa26c/e0f71e2b.jpeg?auto=format&w=322&h=219&fit=crop&dpr=2" alt="" class="curso__img">
         </figure>
         <h3 class="title">Data Driven mindset: Toma decisiones con data</h3>
         <p class="paragraph">Por el pepe</p>
         <p class="price">MXM$230 <span class="price--span">MXM$450</span></p>
         <a href="#" class="botn">Obtenga acceso completo</a>
      </div>

      <div class="item__curso">
         <figure class="curso__image">
            <img src="https://crehana-public-catalog.imgix.net/images/courses/promo-images/030aa760/8eef3c05.jpeg?auto=format&w=322&h=219&fit=crop&dpr=2" alt="" class="curso__img">
         </figure>
         <h3 class="title">Data Driven mindset: Toma decisiones con data</h3>
         <p class="paragraph">Por el pepe</p>
         <p class="price">MXM$230 <span class="price--span">MXM$450</span></p>
         <a href="#" class="botn">Obtenga acceso completo</a>
      </div>
   </div>
</section>