<header class='header__home'>
  <section class='owl-carousel owl-theme'>
    <figure class='owl__item'>
      <img src='images/image.jpg' alt='' />
    </figure>
    <figure class='owl__item'>
      <img src='images/image2.jpg' alt='' />
    </figure>
    <figure class='owl__item'>
      <img src='images/image3.jpg' alt='' />
    </figure>
  </section>
</header>