<header class='header__home'>
  <div class="container">
    <h2 class="heading">¿Listo para avanzar en tus habilidades?</h2>
    <p class="paragraph">200+ Modern Javascript to Fullstack Courses By Experts From Top Companies</p>
    <div class="field">
      <input type="text" class="fiedl__search" placeholder="Busca un curso, idioma, marco o profesor...">
      <button class="bton__search"> <i class="material-icons nav__icon">search</i>Buscar</button>
    </div>
  </div>
</header>
<section class="container">
  <div class="about separador">
    <h2 class="heading">¿Quienes somos?</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente quae dolore quos nihil nemo consequatur praesentium quidem alias modi eaque? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum dignissimos ut est neque velit distinctio, ab tenetur assumenda officia, consectetur modi voluptates magni reiciendis aliquid nam deserunt suscipit, ducimus adipisci.</p>
  </div>
</section>
<section class="curso container separador">
  <h2 class="heading">Tipos de actividades</h2>
  <p class="paragraph">Las actividades que la Red de Educación Continua del TECNM ofrece cotidianamente son:</p>
  <div class="grid">
      <figure class="item__image">
        <img src="images/image.jpg" alt="Cursos" class="item__img">
        <p class="paragraph">Curso</p>
        <figcaption class="image__position">
          <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, consectetur.</p>
        </figcaption>
      </figure>

      <figure class="item__image">
        <img src="images/image2.jpg" alt="Cursos" class="item__img">
        <p class="paragraph">Curso</p>
        <figcaption class="image__position">
          <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, consectetur.</p>
        </figcaption>
      </figure>

      <figure class="item__image">
        <img src="images/image3.jpg" alt="Cursos" class="item__img">
        <p class="paragraph">Curso</p>
        <figcaption class="image__position">
          <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic, consectetur.</p>
        </figcaption>
      </figure>
  </div>
</section>