<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="shortcut icon" href="/tecnm.ico" type="image/x-icon">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Formación Continua</title>
    </head>
    <body>
<!-- CSS -->
    <style>
body{
    margin: 0;
    padding: 0;
    font-family:var(--fuente);
    background: rgb(29,28,64);
    background: linear-gradient(302deg, rgba(29,28,64,1) 0%, rgba(1,87,155,1) 100%);
    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background-color: aliceblue;
    border-radius: 1rem;
}
.center h1{
    font-size: 1.9rem;
    color:rgb(34, 56, 103);;
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 20px 0;
    border-bottom: 0.7px solid #01579b;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txtField{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txtField input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 1.2rem;
    border: none;
    background: none;
    outline: none;
}
.txtField label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 1.4rem;
    pointer-events: none;
    transition: .5s;
}
.txtField span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #01579b
}
.txtField input:focus ~label,
.txtField input:valid ~label{
    top: -5px;
    color: #01579b;
}
.txtField input:focus ~span::before,
.txtField input:valid ~span::before{
    width: 100%;
}

.submit{
    text-align: center;
    width: 20rem;
    height: 2.3rem;
    border: 2px solid;
    background: #01579b;
    border-radius: 1.3rem;
    font-size: 1.6rem;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
}
.ingresar:hover{
    box-shadow: rgb(84, 170, 246) -2px -2px 0px 2px, rgb(0, 123, 255) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);

}
.logo_v{
    width: 180px;
    height: 180px;
    margin-left: 7.1rem;
    border-radius: 2rem;
}
.ingresar{
    display: inline-block;
    margin: 0 20%;
    outline: 0;
    border:0;   
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #01579b;
    background: rgb(241, 241, 241);
    line-height: 30px;
    border-radius: 20px;
    padding: 15px 60px;
    font-size: 30px;
    font-weight: 500;
    box-shadow: rgb(0, 123, 255) -2px -2px 0px 2px, rgb(84, 170, 246) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.5s;
}


    </style>

    <main class="main__contenedor">
    {{{body}}}
    </main>


    </body>
</html>