<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Curso ITGAM</title>
    <!-- CSS -->
    <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/app.css'/>
    <link rel="shortcut icon" href="/images/rayos.png" type="image/x-icon">
  </head>
  <body>
  <nav class="navmenu">
     {{>_navbar}}
  </nav>

  <main class="main__contenedor">
    {{{body}}}
  </main>

  <footer class="page-footer light-blue darken-4">
    {{>_footer}}
  </footer>
    <!-- JS -->
    <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>
    <script src="/bundle.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>